body, html {
    margin: 0;
}

:root {
    --bg-color: #2E3D4B;
    --text-color: #6AE3FF;
}
.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: block;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    overflow: hidden;
    background-image: var(--bg);
    background-size: auto 100%;
    background-position: 50%;
}

.item img {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.item:first-child {
    background-position: 0 0;
}

@media (max-width: 767.98px) {
    .item {
        width: 25%;
        height: 0;
        padding-bottom: 25%;
    }
}

@media (max-width: 575.98px) {
    .item {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
    }
}