body, html {
    margin: 0;
}

:root {
    --bg-color: #2E3D4B;
    --bar-color: #FFF;
}

.container {
    min-width: 400px;
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    background: var(--bg-color);
    padding: 50px;
}

.hamburger {
    display: inline-block;
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger span {
    display: block;
    width: 100px; 
    height: 8px;
    border-radius: 4px;
    background-color: var(--bar-color);
    margin: 25px 0;
    transition: transform 0.25s ease-in-out;
}

.hamburger.open span:first-child {
    transform: translateY(33px) rotate(45deg);
    /* 33 = 8/2 + 25 + 8/2 */
}

.hamburger.open span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-33px) rotate(-45deg);
}